.App {
  text-align: center;
  font-family: Arial,Verdana,sans-serif;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Header-content{
    min-height: 90vh;
    background: linear-gradient(rgba(143, 215, 213, 0.6), rgba(141, 50, 50, 0.5)), url("./images/Spacex.jpg") center/cover no-repeat;
    flex-direction: column;
}

.Heading-title{
  text-align: center;
  font-size: 30px;
  color: #081318;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
